%h3 更新订单

.alert.alert-info
  NOTICE: 在管理员处理之后不能更改订单内容

- if @order.errors.any?
  = render partial: 'alert_error', locals: { model: @order }
= form_for :order, method: 'put', url: me_user_order_path(current_user, @order), html: { class: 'form-horizontal', role: 'form' } do |t|
  = render partial: 'form', locals: { t: t}
  .form-group
    %br
    %center= t.submit '更新', class: ['btn', 'btn-md', 'btn-primary']
