.alert.alert-success 关于商品

%p 商品都是去官网找的说明，基本是日文原版里面的说明，有时间的再翻译成中文。可以买的选项比如大小颜色等等，会在商品的可选选项里面说明。

%p 关于定价问题的话给出了原价（日元）。建议的价格是按照原价按照现汇换成人民币之后，外加20%的手续费换算后四舍五入得来。邮递费用没有算在里面，价格只做参考。

%p 每天汇率实时浮动：当前汇率为100日元#{Good.get_cached_rate_or_default * 100}

%p 注册登录后在商品的详细页面可以下单。

.alert.alert-success 关于订单

%p 在自己的个人页面里面可以管理自己的订单。在管理员没有处理之前可以删除。管理员处理完发完货之后下单人就可以更改状态。

%p 收到EMS之后该状态为“已接受”

%p 淘宝交易完成之后该状态为“处理结束”

.alert.alert-success 关于个人注册登录

%p 一般注册用户只能下单和管理自己的订单。

%p 填写用户信息是写清楚EMS寄件地址。

%p 管理员拥有所有权限包括添加商品之类。（需要管理员权限的时候跟fdwills联系）

