%h3 更新商品

.alert.alert-info
  NOTICE: 管理员页面
- if @good.errors.any?
  = render partial: 'alert_error', locals: { model: @good }
= form_for :good, method: 'put', url: admin_good_path(@good), html: { class: 'form-horizontal', role: 'form' } do |t|
  = render partial: 'form', locals: { t: t}
  .form-group
    %br
    %center= t.submit '提交', class: ['btn', 'btn-md', 'btn-primary']
