.blog-footer
  %p
    Blog driven by
    %a{:href => "http://fdwills.com"} fdwills
    @
    = succeed "." do
      %a{:href => "https://github.com/fdwills/"} github@fdwills
  %p
    Mail to:
    %a{:href => "mailto:weirenzhong@gmail.com"} weirenzhong@gmail.com
  %p
    %a{:href => "#"} Back to top
